<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link 
        rel="stylesheet" 
        href="/css/one.css" type="text/css" charset="utf-8" />
</head>

<template name="home">
    <div class="container row erogenaBackground">
	    <div class="col-xs-12">
	    	<h1>Regístrate</h1>
	    </div>
	    <div class="col-xs-12">
	    	<div class="row">
			    <div class="col-sm-8" style="height: 500px;">
			    	<form>
			    		Nombre:
			    		<input type="text">
			    		Apellidos:
			    		<input type="text"><br>
			    		Fecha de nacimiento:
			    		<input type="text"><br>
			    		Email:
			    		<input type="text"><br>
			    		Contáctenos:
			    		<input type="text"><br>
			    		<input type="radio">
			    		Términos y condiciones
			    		<button class="btn-primary">
			    			Registrarse
			    		</button>
			    	</form>
			    	<form>
			    		<img 
			    			style="width: 32px; height: 32px;"
			    			src="/img/logo_gmail.svg">
			    		<img 
			    			style="width: 32px; height: 32px;"
			    		    src="/img/logo_facebook.svg">
			    		<button class="btn-primary">
			    			Entrar
			    		</button>
			    	</form>
		    	</div>
			    <div class="col-sm-4" style="height: 500px;">
			    	<img class="centeredImageArea" src="/img/logo.svg">
		    	</div>
	    	</div>
	    </div>
    </div>
</template>

