<template name="home">
    <div class="container row">
	    <div class="col-xs-12" style="background-color: #80ff80;">
	    	<h1>Regístrate</h1>
	    </div>
	    <div class="col-xs-12" style="background-color: #ff8080;">
	    	<div class="row">
			    <div class="col-xs-8" 
			    style="background-color: #8080ff; height: 500px;">
			    	Acá va el formulario
		    	</div>
			    <div class="col-xs-4" 
			    style="background-color: #ff80ff; height: 500px;">
			    	Acá va el logo
		    	</div>
	    	</div>
	    </div>
    </div>
</template>
