<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link 
        rel="stylesheet" 
        href="/css/one.css" type="text/css" charset="utf-8" />
</head>

<template name="registerForm">
	<form>
	    <div class="row customFormContainer">
	    	<div class="col-xs-2">
	    		<label>Nombre:</label>
	    	</div>
	    	<div class="col-xs-4">
	    		<input type="text" class="btn-block">
    		</div>
	    	<div class="col-xs-2">
	    		<label>Apellidos:</label>
    		</div>
	    	<div class="col-xs-4">
	    		<input type="text" class="btn-block">
	    	</div>
		</div>
		<br>
	    <div class="row customFormContainer">
		    <div class="col-xs-4">
				<label>Fecha de nacimiento:</label>
			</div>
		    <div class="col-xs-8 btn-block">
				<input type="date">
			</div>
		</div>
		<br>
		<label>Email:</label>
		<input type="text"><br>
		<br>
		<label>Contáctenos:</label>
		<input type="text"><br>
		<br>
		<input type="checkbox">
		<label>Términos y condiciones</label>
		<button class="btn-primary">
			Registrarse
		</button>
	</form>
</template>

<template name="home">
    <div class="container row erogenaBackground">
	    <div class="col-xs-12">
	    	<h1>Regístrate</h1>
	    </div>
	    <div class="col-xs-12">
	    	<div class="row">
			    <div class="col-xs-8" style="height: 500px;">
			    	{{> registerForm}}
			    	<form>
			    		<img 
			    			style="width: 32px; height: 32px;"
			    			src="/img/logo_gmail.svg">
			    		<img 
			    			style="width: 32px; height: 32px;"
			    		    src="/img/logo_facebook.svg">
			    		<button class="btn-secondary">
			    			Entrar
			    		</button>
			    	</form>
		    	</div>
			    <div class="col-xs-4" style="height: 500px;">
			    	<img class="centeredImageArea" src="/img/logo.svg">
		    	</div>
	    	</div>
	    </div>
    </div>
</template>

