.erogenaBackground {
	background-image: url("/img/background_640.png");
    background-repeat: no-repeat;
    background-size: cover;
}

@font-face {
        font-family: "gothic";
        src: url("/fonts/gothic.eot");
        src: local("gothic"), 
             url("./gothic.woff") format("woff"), 
             url("/fonts/gothic.ttf") format("truetype");
}

@font-face {
    font-family: "lobster_1.4regular";
    src: url("/fonts/lobster1_4-webfont.woff2") format("woff2"),
         url("/fonts/lobster1_4-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    color: #ff0000;
}

body {
	color: #ffffff;
	font-family: "gothic";
}

h1 {
	font-family: "lobster_1.4regular";
}

input {
    background-color: rgba(255, 255, 255, 0.6);
    color: #000000;
}

label {
    color: #000000;
}

.btn-primary {
	font-family: "lobster_1.4regular";
    color: #ffffff;
    background-color: #660a21;
    border-radius: 10px;
}

.btn-secondary {
    font-family: "lobster_1.4regular";
    color: #ffffff;
    background-color: #57585a;
    border-radius: 10px;
}

.customFormContainer {
    background-color: #ffffff;
    opacity: 0.6;
    border-radius: 10px;   
    border-width: 4;
    border-color: #000000;
}

.centeredImageArea {
    width: 100%;
    height: auto;
    padding-left: 8%;
    padding-right: 8%;
    padding-top: 8%;
    padding-bottom: 8%;
}
