<template name="unsubscribeFromEmailList">
    <p>Estimado usuario. Su correo electrónico ha sido eliminado de la lista de subscripción para mensajes publicitarios.</p>

    <p>
    Su nombre y correo electrónico habían sido provistos por medio de redes sociales, por personas que lo conocen y decidieron recomendarle
    un anuncio que pudo ser de su interés. Siguiendo la normatividad colombiana de HABEAS DATA, esta información ha sido eliminada de nuestro
    sistema y usted no volverá a recibir más mensajes de este estilo.
    </p>

    <p>
    Nos disculpamos por cualquier molestia que le haya podido generar.
    </p>
</template>
